#onboarding .glyphicon,
#onboarding .glyphicons {
  font-size: 3em;
}
#onboarding #onboarding-body {
  padding: 15px 0 60px 0;
}
#onboarding .modal-footer {
  text-align: center;
}
#course-details {
  font-size: 16px;
}
#course-details #popup-seats-label {
  font-size: .5em;
}
#course-details #popup-infobox {
  margin-left: 15px;
  min-width: 175px;
}
#course-details #popup-notes .label {
  margin-right: 5px;
}
.label-primary {
  background-color: #00679a !important;
}
#calendar {
  padding-bottom: 30px;
}
#calendar .fc-bg .fc-day {
  background-color: #ffffff;
}
#calendar .fc-bg .fc-axis {
  background-color: #ffffff;
}
#calendar .fc-time-grid .fc-slats td {
  height: 3em;
}
#calendar .fc-time-grid .fc-time {
  font-size: .8em;
}
#calendar .fc-day-header {
  font-family: CabinBold, sans-serif;
  background-color: #ffffff;
}
#calendar .fc-toolbar {
  display: none;
}
.hovered {
  opacity: 0.5;
}
#scheduler-search .btn {
  margin: 0;
}
#selected-crns .label {
  font-size: 1em;
  display: inline-block;
}
#term-controls,
#campus-controls {
  margin-bottom: 15px;
}
#term-controls .btn,
#campus-controls .btn {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.select2-dropdown {
  z-index: 1020;
}
#saved-courses .panel {
  border: 1px solid #ccc;
}
#saved-courses .panel.panel-default .panel-heading {
  background: #E4E4E4;
  color: #333333;
}
#saved-courses .panel .panel-heading {
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  padding-left: 30px;
  display: block;
  width: 100%;
}
#saved-courses .panel .panel-heading .course-color {
  width: 15px;
  height: 15px;
  border-radius: 30px;
  background-color: #D50000;
  display: inline-block;
  border: 2px solid #ffffff;
  position: absolute;
  margin-left: -20px;
  margin-top: 3px;
}
#saved-courses .panel .course table {
  margin-bottom: 0;
}
#saved-courses .panel .course table tr:not(.on-campus-error):not(.professor) {
  cursor: pointer;
}
#saved-courses .panel .course table tr:not(.on-campus-error):not(.professor):hover {
  background-color: #F5F5F5;
}
#saved-courses .panel .course table tr:not(.on-campus-error).professor {
  cursor: default;
}
#saved-courses .panel .course table tr:not(.on-campus-error) td .course-active {
  display: none;
}
#saved-courses .panel .course table tr:not(.on-campus-error) td:nth-child(1) {
  width: 10%;
  text-align: center;
  color: #D50000;
}
#saved-courses .panel .course table tr:not(.on-campus-error) td:nth-child(2) {
  width: 15%;
}
#saved-courses .panel .course table tr:not(.on-campus-error) td:nth-child(3) {
  width: 50%;
}
#saved-courses .panel .course table tr:not(.on-campus-error) td:nth-child(4) {
  width: 25%;
}
#saved-courses .panel .course table tr:not(.on-campus-error) td.course-section-online:nth-child(2) {
  width: 65%;
}
#saved-courses .panel .course table tr:not(.on-campus-error).active td .course-active {
  display: inline-block;
}
